@import url('./components/avatar-input.css');
@import url('./components/profile-card.css');

@import url('./routes/quiz.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --color-primary: #5545D0;
  --color-gray: #F5F5F5;
  --color-success: #23BA6E;
  --color-failure: #DD3E4C;
  --color-black: #00000029;
  --color-text: #242424;
}

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-primary);
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
}

body {
  margin: 100px;
  padding: 80px;
  gap: 60px;
  flex: auto;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray);
  box-shadow: 0px 3px 6px var(--color-black);
}

h1 {
  text-align: center;
  font-size: 60px;
  line-height: 71px;
  color: var(--color-primary);
  margin: 0;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
/* 
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin-inline: auto;
}

.profile.card {
  display: inline-flex;
  position: relative;
}

.profile.card .name {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-primary);
  display: inline-block;
  border-radius: 20px;
  font-size: 11px;
  padding: 6px 10px;
  margin: 0;
}

.profile.card img {
  width: 100px;
  height: 100px;
  position: relative;
  margin-inline: auto;
  object-fit: cover;
  border-radius: 50%;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  align-items: stretch;
  height: auto;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.choice {
  padding: 0;
  border: 0;
  border-radius: 20px;
  appearance: none;
  flex: 1 1 30%;
  height: 50%;
}

.progress-bar {
  height: 20px;
  flex: 1 1 auto;
  background: #eee;
  border-radius: 20px;
  overflow: hidden;
}

.progress-bar:after {
  content: '';
  display: block;
  background: var(--color-failure);
  height: 100%;
  width: var(--progress);
}

.correct .progress-bar:after{
  background: var(--color-success);
}

h1 {
  margin: 0;
}

.choices .image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.choices.result .image {
  width: 100px;
  height: 100px;
} */