[data-route="quiz"] {
  position: relative;
  z-index: 2;

  .joined {
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .page-title {
    font-size: 16px;
    flex: 0 0 auto;
  }

  iframe {
    width: 100%;
    height: 80vh;
  }

  .header {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .image {
      display: block;
      transition: all .3s ease-in-out;
      max-height: calc(40vh);
      width: auto;
      max-width: 100%;
      margin-inline: auto;
    }
  }

  &[data-image-only="true"] .header .image {
    max-height: 80vh;
  }

  .explainer {
    width: 100%;
    margin-bottom: 20px;

    .inner {
      max-width: 500px;
    }
  }

  .pick-multiple {
    font-size: 22px;
    text-align: center;
    color: var(--color-primary);
  }
  
  .message {
    text-align: center;
    max-width: 500px;
    margin-inline: auto;
  }

  .choices {
    display: flex;
    gap: 10px;
    flex-direction: column;

    &.result {
      gap: 30px;
    }
  }

  .chosen-people {
    position: relative;
    display: flex;
    overflow: hidden;
    margin-top: -7px;
    z-index: 1;
    gap: 5px;
    width: 100%;
    max-width: calc(100% + 20px);
  }

  .background-video {
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 40px;
    object-fit: cover;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    object-position: center 60%;
    z-index: -2;
  }

  &.finished {
    background-color: #f1cadc;

    .controls {
      background: none;
    }
  }
  
  .right {
    margin-top: -25px;
    position: relative;
  }

  @media screen and (max-width: $tablet - 1px) {
    .choices {
      &.result {
        gap: 20px;
      }
    }

    .image.smaller {
      max-height: 20vh;
    }

    .right {
      margin-top: -15px;
    }

    .chosen-people {
      position: relative;
      z-index: 3;
      gap: 0;
      margin-top: -30px;

      .user {
        margin-right: -10px;

        .avatar {
          width: 40px;
          height: 40px;  
          font-size: 16px;
        }

        .name {
          display: none;
        }
      }
    }
  }
}

.score-row {
  margin-bottom: 20px;

  .top {
    gap: 10px;
    align-items: center;
    display: flex;
    margin-bottom: 5px;
  }

  .user {
    flex-direction: row;
    align-items: center;
    gap: 10px;

    .name {
      font-size: 16px;
    }

    .avatar {
      height: 40px;
      width: 40px;  
    }
  }
}

.choice.button {
  white-space: initial;
  font-size: 16px;
  max-width: 100%;
  text-transform: none;
  padding: 10px;
  text-align: left;

  .image {
    max-width: 300px;
  }

  .index {
    margin-right: 6px;

    &:after {
      content: '. ';
    }
  }

  &.correct,
  &.wrong {
    pointer-events: none;
  }

  &.correct {
    border-color: var(--color-success);
    background: var(--color-success);
    color: white;
  }

  &.wrong {
    border-color: var(--color-failure);
    color: var(--color-failure);
  }
}

@media screen and (min-width: $tablet) {
  [data-route="quiz"] {
    .page-title {
      font-size: 28px;
    }

    .explainer {
      font-size: 20px;
      margin-bottom: 30px;
    }

    .has-people + .explainer {
      margin-top: -30px;
    }

    .choices:not(.result) {
      flex-direction: row;
      flex-wrap: wrap;
      
      .button.choice {
        flex: 1 1 40%;
        font-size: 20px;
        padding: 20px;
      }
    } 

    .choices.result {
      max-width: 1200px;
      width: 100%;
      margin-inline: auto;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;

      .button.choice {
        flex: 1 1 40%;
      }

      .right {
        margin-top: 0;
        flex: 1 1 40%;
      }
    }
  }
}