body[data-route="home"] {
  display: grid;
  grid-template-columns: 50% auto 100px;
  grid-template-rows: auto 1fr;
  grid-template-areas: "top top avatar"
  "left right right";
}

body[data-route="home"] h1 {
  grid-area: top;
  padding-inline-start: 160px;
}

body[data-route="home"] .profile.card {
  grid-area: avatar;
  height: 100px;
}

body[data-route="home"] .quizzes-list {
  grid-area: left;
  max-width: 400px;
  margin-left: auto;
  border-right: 2px dashed var(--color-gray-dark);
}

body[data-route="home"] .create-quiz-form {
  grid-area: right;
}

body[data-route="home"] .create-quiz-form form {
  max-width: 400px;
}

body[data-route="home"] h2 {
  font-size: 30px;
}

.quiz-link {
  font-size: 22px;
}