avatar-input {
  width: 100px;
  height: 100px;
  display: block;
  position: relative;
  background-color: #eee;
  border-radius: 50%;

  button {
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    transform: translate(50%, -50%) scale(1);
    background-color: red;
    border: none;
    appearance: none;

    &:hover {
      transform: translate(50%, -50%) scale(1.2);
    }
  }

  canvas,
  video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    object-fit: cover;
  }

  &[data-state="captured"] {
    button {
      background-color: gray;

      &:before,
      &:after {
        content: '';
        display: block;
        width: 20px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        background-color: white;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}
