.user {
  color: var(--profile-color);
  text-decoration: none;
  gap: 1px;
  display: flex;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .name {
    color: var(--profile-color);
    font-size: 13px;
  }

  .avatar {
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: var(--profile-color);
    border-radius: 50%;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 0;
    font-size: 24px;
    border: 3px solid rgba(0, 0, 0, .001);
    align-self: center;
    color: white;
  }  

  &.self {
    z-index: 4;

    .avatar {   
      border: 3px solid rgba(0, 0, 0, .5);
    }
  }
}